* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    display: grid;
    place-items:center;
    counter-reset: score;
  }
  .title .encabezado{
      position: absolute;
      top: -40px;
      left: -30px;
      font-size: 1.5rem;
      font-family: cursive;
    
  }
  .phone {
    position: relative;
    height: 600px;
    width: 300px;
    background-color: #d4ebf4;
    border: 8px solid black;
    border-radius: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.5);
    overflow: hidden;
  }
  .layer-1 {
    position: absolute;
    height: 520px;
    width: 80px;
    bottom: 0;
    right: 60px;
  }
  .layer-2 {
    position: absolute;
    height: 520px;
    width: 80px;
    bottom: 0;
    left: 60px;
  }
  .layer-3 {
    position: absolute;
    z-index: 3;
    width: 280px;
    height: 460px;
    background: #bb6d50;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    box-shadow: 7px 8px 20px 0 #868686;
    overflow: hidden;
  }
  .layer-4 {
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 380px;
    bottom: 0;
    left: 60px;
  }
  .layer-5 {
    position: absolute;
    z-index: 5;
    width: 210px;
    height: 320px;
    background: #bb6d50;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #000000af;
    overflow: hidden;
  }
  .layer-6 {
    position: absolute;
    z-index: 6;
    width: 80px;
    height: 250px;
    bottom: 0;
    right: 50px;
  }
  .layer-7 {
    position: absolute;
    z-index: 7;
    width: 180px;
    height: 190px;
    background: #bb6d50;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #000000af;
    overflow: hidden;
  }
  .layer-8 {
    position: absolute;
    z-index: 8;
    width: 240px;
    height: 130px;
    background: #66a167;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50px;
  }
  .grass {
    width: 120px;
    height: 120px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: -40px;
  }
  
  .grass::after {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 30px;
  }
  
  .grass::before {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: -70px;
    top: 30px;
  }
  .layer-9 {
    position: absolute;
    z-index: 9;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    background: white;
    bottom: 0;
    left: -50px;
  }
  .layer-10 {
    position: absolute;
    z-index: 10;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    background: white;
    bottom: 0;
    right: -50px;
  }
  
  .layer-9::before,
  .layer-10::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    top: -40px;
    left: 50px;
  }
  .layer-3::after,
  .layer-5::after,
  .layer-7::after {
    content: "";
    position: absolute; 
    left: -0px;
    top: 0px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #6aa067 25%, transparent 25%) -50px 0,
      linear-gradient(-135deg, #6aa067 25%, transparent 25%) -50px 0,
      linear-gradient(45deg, #6aa067 25%, transparent 25%),
      linear-gradient(-45deg, #6aa067 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
  }
  
  .layer-3::before,
  .layer-5::before,
  .layer-7::before {
    content: "";
    position: absolute; 
    left: -0px;
    top: 15px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #a6543d 25%, transparent 25%) -50px 0,
      linear-gradient(-135deg, #a6543d 25%, transparent 25%) -50px 0,
      linear-gradient(45deg, #a6543d 25%, transparent 25%),
      linear-gradient(-45deg, #a6543d 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
  }
  /* counter */
  .title {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20px;
    width: 100px;
    font-size: 20px;
    text-align:center;
  }
  input:checked {
    counter-increment: score;
  }
  .score::after {
    content: counter(score);
  }
  input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 2;
  }
  .layer-1 input[type=checkbox] {
    
  }
  /* Animation */ 
  .layer-1,
  .layer-4{
    animation: upDown1 0.7s infinite ease-in-out;
  }
  .layer-2,
  .layer-6 {
    animation: upDown2 0.7s infinite;
  }
  @keyframes upDown1 {
    0% { transform: translateY(0); }
    50% { transform: translateY(70px); }
    100% { transform: translateY(0); }
  }
  @keyframes upDown2 {
    0% { transform: translateY(70px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(70px); }
  }
  /* Bunny */ 
  .ear_left {
    position: absolute;
    background-color: white;
    border-radius: 90%;
    width: 25px;
    height: 60px;
    left: 5px;
  }
  
  .ear_left::before {
    content: "";
    position: absolute;
    background-color: #f9c7d1;
    width: 15px;
    height: 50px;
    left: 5px;
    top: 4px;
    border-radius: 90%;
  
  }
  
  .ear_right {
    position: absolute;
    background-color: white;
    border-radius: 90%;
    width: 25px;
    height: 60px;
    right: 5px;
  }
  
  .ear_right::before {
    content: "";
    position: absolute;
    background-color: #f9c7d1;
    width: 15px;
    height: 50px;
    left: 5px;
    top: 4px;
    border-radius: 90%;
  
  }
  
  .head {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 30px;
  }
  
  .head::before {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    left: 25px;
    top: 20px;
  }
  
  .head::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    right: 25px;
    top: 20px;
  }  